<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form
            action="/campgrounds/<%=campground._id%>?_method=PUT"
            method="POST"
            novalidate
            class="validated-form"
        >
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    name="campground[title]"
                    id="title"
                    value="<%=campground.title %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    name="campground[location]"
                    id="location"
                    value="<%=campground.location %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input
                    class="form-control"
                    type="text"
                    name="campground[image]"
                    id="image"
                    value="<%=campground.image %>"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input
                        class="form-control"
                        type="text"
                        name="campground[price]"
                        id="price"
                        value="<%=campground.price %>"
                        aria-label="price-label"
                        placeholder="0.00"
                        required
                    />
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    type="text"
                    name="campground[description]"
                    id="description"
                    required
                >
<%=campground.description %></textarea
                >
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <div>
            <a href="/campgrounds/<%= campground._id%>">Return To Campground</a>
        </div>
    </div>
</div>
